
/* styles for the option on answers being shown */
.answers{
    display: flex;
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: fit-content;
    font-size: 1.8rem;
    background-color: white;
}

#quiz{
    border-bottom: .1rem solid;
}


/* style around the numbers */
.options{
    padding: 0.5rem 1.5rem;
    background-color: purple;
    color: white;
}

.ans-text{
    padding: 0.9rem;
    width: 100%;
}

/* styles for when the mouse is hovering over the answers */
.answers:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 purple;
    transform: translateY(-0.1rem);
}

/* styles for the display of the timer and question counter**********************************************/
.info{
    display: flex;
    justify-content: space-between;
}

.info .timer, .question-count, .feedBack{
    background-color: purple;
    border-radius: .5rem;
    padding: .4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    color: white;
    display: flex;
    height: fit-content;
    margin-top: 1.8rem;
}

.feedBack{
    background-color: inherit ;
    display: none;
}

#question{
    margin-top: 1rem;
    border-top: .1rem solid ;
}

.info .timer_set, .number-of-question{
    text-align: center;
    margin-left: 1rem;
    flex-wrap: wrap;
}
/* ******************************************************************************* */
/* styles for highscore board */
#scoreList{
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
    margin-bottom: 4rem;
    margin-left: auto;
    flex-wrap: wrap;
    align-content: center;
}

.highscore{
    text-align: justify;
    font-size: 2rem;
    margin-bottom: 1rem;
}
